/* You can add global styles to this file, and also import other style files */
.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/pizza.jpg");
    min-height: 90%;
  }